<!DOCTYPE html>
<html>
    <head>
		<title>Wikipedia Names Your Band</title>
		<link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
		<div id="main">
				<p class="text">Band Name: <%= @bname %><br>
				Album Title: <%= @title %></p>
		</div>
		<div id="imgcontainer">
			<%= @photo %>
		</div>
		<div id="refresh"><a href="/">Try another (please be patient)</a></div>	
    </body>
</html>